[Desktop Entry]
Name=Subsound
GenericName=Music player
Exec=Subsound.sh
Type=Application
Icon=io.github.subsoundorg.Subsound
Comment=Stream music from network streaming servers.
Comment[en]=Stream music from network streaming servers.
Categories=Audio;Music;
Keywords=music;audio;navidrome;subsonic;subsound
Terminal=false
SingleMainWindow=true
